html{
    box-sizing: border-box;

}

*, *::after, *::before{
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

html,
body{
    height: 100%;
    
}

ul{
    list-style-type: none;
}

a{
    text-decoration: none;
    color: inherit;
    transition: background-color 2s ease-in-out;
    
}

a:hover {
    color: rgba(7, 228, 7, 0.788);
    
}

hr{
   
    background-color:rgba(5, 146, 5, 0.979) ;
    color: #06f;
    height: 2.5px;
     margin: 20px 0 10px;
}

.section{
    padding: 80px;
}

.section__title{
    padding-bottom: 50px;
    font-size: 48px;
    font-weight: 700;
    text-align: center;
}

.wrapper{
    min-height: 100%;
    display: flex;
    flex-direction:column ;

}

.container{
    
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 10px;

}

body{
    font-size: 16px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    line-height: 1.3;
}

.header{
    background-color: rgba(2, 102, 2, 0.651) ;

}

.header-main{
    background-color: transparent;
    position: absolute;
    z-index: 10;
    left: 0;
    right: 0;
    
}   

.header__inner{
    
    padding-top: 40px;
    padding-bottom: 45px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    
}

.logo-img{
    position: static;
    width: 120px;
    height: 70px;
} 

.menu__list{
    display: flex;
    gap: 10px;
}

.menu__list-link{
    color: #fff;
    text-transform: uppercase;

}

.menu__list-link1{
    color: #151515;
    font-weight: 700;
}

.menu__list>li{
    position: relative;
    margin: 0 10px 0;
}

.menu__list>li:hover .sub-menu__list{
    display: block;
}

.sub-menu__list>:hover .sub-sub-menu__list{
    display: block;
}

.sub-menu__list{

    min-width: 200px;
    display: none;
    position: absolute;
    left: 0;
    top: 10px;
    padding: 20px 0;
}

.sub-menu__list>li{
    background-color: #1515154d;
}

.sub-menu__list-link{
    color: #ccc;
    font-size: 14px;
    display: inline-block;
    padding: 5px 10px;
    border-radius: 10px;
}

.sub-sub-menu__list{
    display: none;
    position: absolute;
    top: 20px;
    left: 100%;
    min-width: 250px;
    padding: 0px 0px 0px 5px;
    border-radius: 10px;
}

.s1{
    top: 50px;
}

.s2{
    top: 80px;
}



.sub-sub-menu__list>li{
    background-color: #151515a2;
    
}

.sub-sub-menu__list-link{
    color: #ccc;
    font-size: 14px;
    display: inline-block;
    padding: 5px 10px;
}



 .footer{
    background-color: rgba(2, 102, 2, 0.651);
    padding: 50px 0 32px;
    color: #ccc;
}

.footer__menu{
    display: flex;
    justify-content: space-around;
    margin-bottom: 50px;
}

.footer__menu-title{
    color: #fff;
    font-size: 24px;
    font-weight: 700;
    padding-bottom: 10px;
}

.footer__menu-item + .footer__menu-item{
    padding-top: 10px;
}

.footer__copy{
    max-width: 700px;
    margin: 0 auto 30px;
    text-align: center;
}

.copy__nav-list{
    display: flex;
    justify-content: center;
    gap: 40px;
}

.main{
    flex-grow: 1;
   
}

.top{
    color: #fff;
    text-align: center;
    padding-top: 250px;
    padding-bottom: 50px;
    position: absolute;
    z-index: 5;
    left: 0;
    right: 0;
    
    
}

.title{
    padding-bottom: 40px;
    font-size: 56px;
    font-weight: 700;
}

.top__link{
    background-color: #151515;
    font-size: 24px;
    padding: 23px;
    max-width: 430px;
    width: 100%;
    display: inline-block;
    text-transform: uppercase;
    font-size: 76 px;
    
    
   
}



.prev-button,
.next-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 50px;
  height: 50px;
  background-color: transparent;
  border: none;
  font-size: 24px;
  color: white;
}

.prev-button {
  left: 10px;
}

.next-button {
  right: 10px;
}

.slider-container{
    position: relative;
    width: 1000px;
    height: 500px;
    margin: 0 auto;
    overflow: hidden;

}

.swiper::after{
    content:"" ;
    background: rgba(21,21,21,.4);
    position: absolute;
    z-index: 1;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
}

.swiper-slide{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 100vh;
}

.swiper-pagination-bullet{
    width: 120px;
    height: 3px;
    background-color: #151515;
    border-radius: 0;
    opacity: 1;
    margin: 0 15px ;
}

.swiper-pagination-bullet-active{
    height: 4px;
    background-color: #fff;
}




.preim{
    padding: 100px 0;
    
}

.preim__list{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 35px;
    text-align: center;
}

.preim__item-img{
    width: 170px;
    height: 120px;
    margin-bottom: 30px;
}

.preim__item-title{
    margin-bottom: 30px;
    font-size: 24px;
    font-weight: 700;
}

.preim__item-text{
    text-align: center;
}

.mp{
    padding: 50px 0 50px;
}

.mp__inner{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 65px;
    text-align: center;
}

.mpx img{
    width: 275px;
    height: 180px;
}

.nov{
    padding: 50px 0 120px;
}

.nov__inner{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px 50px;
    text-align: center;
}

.buy__inner{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 5px;
    text-align: center;
}

.buy{
    margin-top: 30px;
    display: inline-block;
    
    border-radius: 5px;
    color: #fff;
    background-color:  blue;
    font-size: 12px;
    font-weight: 700;
    padding: 5px;
    text-align: center;

}

.buy1{
    background-color: purple;
    
}

.buy2{
    margin-bottom: 10px;
    margin-top: 10px ;
    display: inline-block;
    width: 185px;
    border-radius: 5px;
    color: #fff;
    background-color: rgba(2, 102, 2, 0.651)  ;
    font-size: 16px;
    font-weight: 400;
    padding: 5px;
    text-align: center;
}

.buy2:hover{
    color: #fff;
}

.cran{
    text-align: center;
    padding-bottom: 70px;
}

.cran__img{
    width: 255px;
    height: 280px;
    margin-bottom: 20px;
}

.cran__content{
    padding: 0 5px;
    width: 280px;
    height: 370px;
    
}

.contacts{
    padding: 100px 0 150px;
}

.contacts__title{
    color:#151515;
    font-size: 36px;
    text-align: center;
    padding-bottom: 50px;
}

.contacts-list{
    font-size: 24px;
    text-align: left;
}

.contacts-text{
    
    left: 0;
    right: 0;
}
.contacts-list p{
    padding-bottom: 20px;
    font-size: 24px;
}

.connection{
    background-color: #ebe9e956;
    margin: 100px;
    padding: 55px;
}


.prais__img{
    width: 800px;
    height: 800px;
    object-fit: cover;
}

.dilers{
    padding: 100px 0 80px;
}

.dilers__title{
    margin-bottom: 30px;
    font-size: 36px;
    font-weight: 700;
    text-align: center;
}

.diler-content p{
    padding: 10px 0 10px;
}

.dilers__list{
    margin-left: 35px ;
}

.question{
    background-color: #cccccc1a;
    margin: 0 100px 100px 100px;
    padding: 30px 30px 35px; 
}

.question__title{
    padding-bottom: 20px;
    font-size: 24px;
    font-weight: 700;
    
}

.question__img{
    width: 80pxpx;
    height: 150px;
    object-fit: cover;
    padding:20px 0 25px;
}

.question__text{
    padding-bottom: 10px;
}

.question__text p{
    padding: 10px 0 10px;
}

.question__text a{
    font-weight: 700;
    font-size: 28px;
    padding: 10px 0 15px;
    color: rgba(0, 102, 255, 0.623);
}


.letters__img{
    width: 850px;
    height: 1200px;
    object-fit: cover;
    display: flex;
    justify-content: center;
    padding: 100px 0 150px;

}

.opr__img{
    width: 850px;
    height: 1200px;
    object-fit: cover;
    display: flex;
    justify-content: center;
    padding: 100px 0 150px;
}

.treh__title{
    color: #000000;
    padding: 20px 0 30px;
    font-size: 36px;
    font-weight: 700;
    text-align: left;
}

.treh{
    margin: 50px 0 30px;
}

.gear{
    margin: 50px 0 150px;
}

.gear__text{
    margin-bottom: 10px;
}

.gear__content{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    text-align: left;
}

.gear__img{
    height: 300px;
    width: 400px;
}

.ex{
    margin: 50px 0 150px;
}

.ex__text{
    margin-bottom: 10px;
}

.ex__inner{
    padding-top: 50px;
    padding-bottom: 55px;
    display: block; 
    
}

.ex__content{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px 30px;
    text-align: left;
}

.ex__img{
    height: 350px;
    width: 480px;
}



.prev-button,
.next-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 50px;
  height: 50px;
  background-color: transparent;
  border: none;
  font-size: 24px;
  color: white;
}

.prev-button {
  left: 10px;
}

.next-button {
  right: 10px;
}

.news{
     padding: 100px 0 150px;
}

.news__inner{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 50px 30px;
}

.news-content{
    position: relative;
    padding: 0 10px;
}


.news-list {
    list-style-type: none;
    padding: 0;
}

.news-item {
    margin-bottom: 20px;
}

.news-item a {
    display: flex;
    text-decoration: none;
    color: inherit;
    
}

.news-item img {
    display: block;
    max-width: 100%;
    width: 220px;
    height: 180px;
    margin-right: 20px;
    border-radius: 5px;
}

.news-content h4 {
    flex-wrap: wrap;
    margin-top: 0;
    color: #333;
}

.news-content h4:hover{
    color: #06f;
}

.news-content p {
    position: absolute; 
    bottom:0px;
    color: #666;
    align-self: flex-end;
    margin: 0 auto;
}

.box{
    display: none;
}

.box:nth-child(1),
.box:nth-child(2),
.box:nth-child(3),
.box:nth-child(4),
.box:nth-child(5),
.box:nth-child(6){
    display: inline-block;
}
    
#load{
    margin-top: 30px;
    display: inline-block;
    text-transform: uppercase;
    border-radius: 5px;
    border: 1px solid #06f;
    color: #06f;
    background-color: rgba(0, 102, 255, 0.233);
    font-size: 16px;
    font-weight: 700;
    padding: 15px 55px;
}

#load:hover{
    background-color: rgb(0, 102, 255); 
    color: #fff;
}

.news1{
    
    padding: 100px 0 20px;
}

.news__title{
    padding-bottom: 10px;
    font-size: 36px;
    font-weight: 700;
    text-align: left;

}

.news-p{
    color:#666;
}

.describe{
    padding: 100px 0 100px;
    max-width: 800px;
    margin: 0 auto;
    font-size: 20px;
} 


.describe p{
    padding-bottom: 30px;
    
}

.vacancy{
    padding: 100px 0 150px;
}

.vacancy__inner{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 50px 30px;
}

.vac{
    
    text-align: left;
    color: #151515;
}

.vac__content{
    position: relative;
    padding: 10px 25px;
    font-size: 24px;
    width: 280px;
    height: 200px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.vac__content:hover{
    color: #151515;
    border: 1px solid #06f;
    background-color: #fff;
}

.plus{
    position: absolute; 
    right:0px;
    margin: 30px;
    display: inline-block;
    text-transform: uppercase;
    border-radius: 5px;
    border: 1px solid #06f;
    color:  rgba(3, 64, 156, 0.938);
    font-size: 16px;
    font-weight: 700;
    padding: 2px 7px;
    
}

.plus:hover{
    color: #fff;
    background-color: #06f;
}

.popup{
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(21,21,21,.6);
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    overflow-y: auto;
    overflow-x: hidden;
}

.popup:target{
    
    opacity: 1;
    visibility: visible;
}

.popup__body{
    
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 35px 20px;
}

.popup__content{
    position: relative;
    background-color: #fff;
    color: #151515;
    max-width: 1000px;
    padding: 35px;
}

.popup__close{
    position: absolute;
    width: 20px;
    height: 18px;
    margin: 15px;
    top: 0;
    right: 0;
    
}

.popup__title{
    padding-bottom: 30px;
    font-size: 28px;
    margin: 0 20px;
}

.popup__text{
    font-size: 18px;
}

.popup__text p{
    padding: 20px;
}

.popup__text b{
    padding: 20px;
}

.respond{
    margin-top: 30px;
    display: inline-block;
    text-transform: uppercase;
    border-radius: 5px;
    border: 1px solid #06f;
    color: #06f;
    background-color: rgba(0, 102, 255, 0.233);
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 700;
    padding: 15px 55px;
}

.culture-section {
    background: linear-gradient(rgba(0, 0, 0, 0.45),rgba(0, 0, 0, 0.45)), url(https://www.solodev.com/assets/culture.jpg) top no-repeat;
    height: 100%;
    background-size: cover;
    color: #fff;
	  text-align: center;
    padding: 250px 0px;
}

.culture-section h2 {
    font-weight: 800;
    font-size: 50px;
}
.culture-section h3 {
    font-size: 25px;
    font-weight: 700;
    margin: 14px 0;
    font-family: 'proxima-nova', sans-serif;
    text-transform: capitalize;
}
.culture-section p {
    margin: 36px auto;
    font-size: 18px;
    width: 75%;
}
.btn {
    font-size: 18px !Important;
}
.btn-slider {
    background-color: #fff;
    color: #d2282e;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    padding: 12px 35px;
    font-weight: 800;
}
.btn-slider:hover {
    background-color: #dbdbdb;
    color: #565299;
}

/* Popup CSS Below */
.flexslider .slides img {
  margin: 0 auto;
  max-width: 100px;
}
.ct-sliderPop {
  border-radius:50%;
  width:650px !important;
  height:650px !important;
}
.ct-sliderPop > .inner > .cow-map-img {
  margin-top: 75px;
}
.ct-sectional .col-lg-5.col-lg-offset-1 > img {
  cursor: pointer;
  border-radius: 50%;
}
.ct-sliderPop .inner {
  color: #fff;
  margin-top: 110px;
}
.map-white-border {
  border-bottom: 1px solid #fff;
  width: 30%;
  margin: 50px auto;
}
.ct-sliderPop-container {
  display: none;
  left: 0px;
  opacity: 0;
  top: 0px;
  z-index: 9998;
}
.ct-sliderPop-container.open {
  animation-duration: 0.35s;
  animation-fill-mode: both;
  animation-name: fadeIn;
  display: block;
}
.ct-sliderPop-container {
  overflow:hidden;
  display: inline-table;
  max-width: 650px !important;
  left: 50%;
  position: fixed !important; /* Required to override style inline style added by Flexslider */
  text-align: center;
  top: 45%;
  transform: translate(-50%, -50%);
  z-index: 9997;
}
.ct-sliderPop-slide1 {
  background: #43670F none repeat scroll 0% 0%;
}
.ct-sliderPop-slide2 {
  background: #E14F11 none repeat scroll 0% 0%;
}
.ct-sliderPop-slide3 {
  background: #4F4F99 none repeat scroll 0% 0%;
}.sliderPop.flexslider:hover .flex-direction-nav .flex-prev

.ct-sliderPop .inner .ct-sliderPop-close {
  display: inline-block;
  margin: -1% auto 30px;
  transition: opacity 0.25s ease-in-out 0s;
  width: 75px;
}
.ct-sliderPop h1 {
  font-family: "nimbus-sans-condensed", sans-serif;
  font-size: 75px;
  font-weight: 700;
  line-height: 1;
  text-transform: uppercase;
  margin-top: 0;
}
.ct-sliderPop h1 span {
  font-family: 'coquette', fantasy;
  text-transform: capitalize;
  line-height: 0.8;
}
.ct-sliderPop h2,
.ct-sliderPop p {
  font-family: "nimbus-sans-condensed", sans-serif;
  font-size: 30px;
  font-weight: 400;
  line-height: 1;
}
.ct-sliderPop .fa {
    font-size: 84px;
    margin-bottom: 10px;
}
.ct-sliderPop p {
  font-size: 18px;
  padding-bottom: 30px;
  width: 70%;
  line-height: 24px;
  margin: 0 auto;
}
.ct-sliderPop-container .flex-direction-nav a {
  overflow: visible;
}
.flex-direction-nav a,
.flex-direction-nav a.flex-next::before,
.flex-direction-nav a.flex-prev::before {
  color: #fff !important;
}
.flexslider .slides img {
  width: auto !important;
}
.sliderPop-close {
  width: 60px;
}


/* =================================
  # Media Queries 
================================= */
@media (max-width: 767px){
  .ct-sliderPop {
    height: 500px;
    max-width: 500px !important;
  }
  .ct-sliderPop > .inner > .cow-map-img {
    margin-top: 50px;
  }
  .ct-sliderPop-description span {
    font-size: 50px;
  }
  .ct-sliderPop h2,
  .ct-sliderPop-description {
    font-size: 20px;
  }
  .ct-sliderPop h2 {
    line-height: 0.2;
  }
  .ct-sliderPop-description {
    padding-bottom: 0;
  }
  .ct-sliderPop .inner {
    margin-top: 10px;
  }
  .ct-sliderPop-description .map-fontSize {
    font-size: 80px;
  }
}

@-webkit-keyframes fadeIn{0%{opacity:0}100%{opacity:1}}
@keyframes fadeIn{0%{opacity:0}100%{opacity:1}}